<h1>{{ title }}</h1>
<b>Mode of Travel: </b>
<select #mode id="mode" >
  <option value="DRIVING">Driving</option>
  <option value="WALKING">Walking</option>
  <option value="BICYCLING">Bicycling</option>
  <option value="TRANSIT">Transit</option>
</select>

<button #geolocation >Meva ubicacio</button>
<div #map   style="height:400px;width:100%"></div>
<!--<div class = "row">
  <button [hidden]="!canCheckIn" (click)="clockIn()" type="button" class="btn btn-primary">Clock In</button>
  </div>
  <div class = "row">
  <h4 *ngIf="userLocation != null">User Coordinates: {{userLocation.position}}</h4>
  </div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="onChoseLocation($event)">
  <div  *ngIf="markers">
    <agm-marker
      [latitude]="markers.lat"
      [longitude]="markers.lng"
      [iconUrl]="markers.icon"
    >
    </agm-marker>
  </div>
  <div *ngIf="origin && destination">
    <agm-direction [origin]="origin" [destination]="destination" [travelMode]="travelMode" >
    </agm-direction>
  </div>
</agm-map>-->